*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
    scroll-behavior: smooth;
  scroll-padding-top: 110px;
}

body{
  background:#f3f3f3;
}

a{
    text-decoration: none;
}

.ana{
  width: 90%;
  max-width: 900px;
  margin: 40px auto;
}

.form-govde {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start;
  gap: 20px; 
}

.sol-form {
  flex: 1; 
  display: flex;
  flex-direction: column;
  gap: 15px; 
}

.satir {
  display: flex;
  align-items: center; 
}

.satir label {
  white-space: nowrap; 
  margin-right: 10px;
  border-bottom: 3px solid #fff; 
  padding-bottom: 2px;
  font-size: 1.1rem;
  color: #111;
}


.satir input {
  background-color: #D69FA2; 
  border: none;
  height: 30px;
  width: 100%; 
  padding-left: 10px;
  font-family: inherit;
  color: #333;
}

::placeholder {
  color: #555;
  font-style: italic;
  font-weight: 300;
}

.email-input-grubu {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #D69FA2;
}
.email-input-grubu input {
  width: 100%;
}
.sabit-yazi {
  padding-right: 10px;
  font-style: italic;
}

footer{
  background-color: #333;
  display: flex;
  justify-content: center; 
  align-items: center;     
  gap: 20px;               
  padding: 20px;
}

footer img{
  width: 60px;
  height: 60px;
  cursor: pointer;
}
